<div class="all">
    <div class="vuz">
        <h1><b>1. МГУ</b></h1>
        <p>Московский государственный университет имени М. В. Ломоносова  — один из старейших и крупнейших классических университетов России, один из центров российской науки и культуры, расположенный в Москве.</p>
        <a href="https://www.msu.ru/" target="_blank"><b>Сайт вуза</b></a>
        <h3><b>Технические факультеты в этом вузе:</b></h3>
        <h5>1)<a href="https://math.msu.ru/" target="_blank">Механико-математический факультет</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году</b></h3></td>
            </tr>
            <tr>
                <td>"Математика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл</b> </td>
            </tr>
            <tr>
                <td>"Механика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл </b> </td>
            </tr>
            <tr>
                <td>"Фундаментальная математика<br> и математическая физика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл </b> </td>
            </tr>

        </table><br>

        <h5>2)<a href="https://www.phys.msu.ru/" target="_blank">Физический факультет</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году </b></h3></td>
            </tr>
            <tr>
                <td>"Фундаментальная и прикладная физика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл</b> </td>
            </tr>
            <tr>
                <td>"Астрономия"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл </b> </td>
            </tr>
        </table>

        <h5>3)<a href="https://cs.msu.ru/" target="_blank">Факультет вычислительной математики и кибернетики</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году</b></h3></td>
            </tr>
            <tr>
                <td>"Прикладная математика и информатика"</td>
                <td>Математика<br>Русский язык<br>Физика<br>Информатика<br><b>Проходной балл </b> </td>
            </tr>
            <tr>
                <td>"Фундаментальная информатика и информационные технологии"</td>
                <td>Математика<br>Русский язык<br>Физика<br>Информатика<br><b>Проходной балл </b> </td>
            </tr>
        </table>
    </div>
</div>

